﻿@{ 
    ViewBag.Title = "Daily View";
}
<div class="row">
    <div class="col-sm-3 col-xs-4">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker">
                @*<input type='text' class="form-control" />*@
                <input id="SelectedDate-Input" class="form-control" type="text" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
</div>
    



<div id="TimeEntry-List">

</div>


@Ajax.ActionLink("Add", "Create", "TimeEntry", new AjaxOptions()
{
    HttpMethod = "GET",
    AllowCache = false,
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "create-wrapper",
    OnSuccess = "initializeCreateTimeEntryForm"
})
<div id="create-wrapper"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        // Daily Page On Load
        $(function () {
            // Set the current date and bind event to date field
            var currentDate = new Date();
            document.getElementById("SelectedDate-Input").value = currentDate.getDate() + "/" + (parseInt(currentDate.getMonth()) + 1) + "/" + currentDate.getFullYear();
            $("#datetimepicker").datepicker({
                format: 'dd/mm/yyyy'
            });
            $("#SelectedDate-Input").change(function () {
                loadTimeEntryList();
            });
            // Load List View
            loadTimeEntryList();
        });

        // List View On Refresh
        function loadTimeEntryList() {
            var dateValue = $("#SelectedDate-Input").val();
            $.ajax({
                url: "/TimeSheet/DailyList",
                type: "POST",
                data: { date: dateValue }
            })
            .done(function (partialViewResult) {
                if (document.getElementById("Create-DateRecorded") != null)
                    document.getElementById("Create-DateRecorded").value = $("#SelectedDate-Input").val();
                $("#TimeEntry-List").html(partialViewResult);
            });
        }

        // Create Page on Refresh
        function loadCreateTimeEntryForm() {
            loadTimeEntryList();
            initializeCreateTimeEntryForm();
        }

        function initializeCreateTimeEntryForm() {
            document.getElementById("Create-WorkItemTime").value = "";
            document.getElementById("Create-ProjectName").value = "";
            document.getElementById("Create-WorkItemName").value = "";
            document.getElementById("Create-ProjectId").value = 0;
            document.getElementById("Create-WorkItemId").value = 0;
            setTimeEntryOption("TimeBlock");
            document.getElementById("Create-DateRecorded").value = $("#SelectedDate-Input").val();
            //$("#Create-ProjectName").typeahead({
            //    source: { data: ["Mercury", "Venus"] },
            //    callback: {
            //        onClick: function (node, a, item, event) {
            //            console.log('onClick');
            //        }
            //    }
            //});
            $("#Create-ProjectName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Project/AutoCompleteProject",
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            document.getElementById("Create-ProjectId").value = 0;
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name, id: item.Id };
                            }))
                        }
                    });
                },
                select: function (event, ui) {
                    document.getElementById("Create-ProjectId").value = ui.item.id;
                }
            }).focus(function () {
                //$(this).data("autocomplete").search($(this).val());
            });

            $("#Create-WorkItemName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/WorkItem/AutoCompleteWorkItem",
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term, projectId: document.getElementById("Create-ProjectId").value },
                        success: function (data) {
                            document.getElementById("Create-WorkItemId").value = 0;
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name, id: item.Id };
                            }))
                        }
                    });
                },
                select: function (event, ui) {
                    document.getElementById("Create-WorkItemId").value = ui.item.id;
                }
            }).focus(function () {
                //$(this).data("autocomplete").search($(this).val());
            });
        }

        // Edit Page
        function initializeEditForm(id) {
            $("#Edit-ProjectName-" + id).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Project/AutoCompleteProject",
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            document.getElementById("Edit-ProjectId-" + id).value = 0;
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name, id: item.Id };
                            }))
                        }
                    });
                },
                select: function (event, ui) {
                    document.getElementById("Create-ProjectId").value = ui.item.id;
                }
            }).focus(function () {
                $(this).data("autocomplete").search($(this).val());
            });

            $("#Edit-WorkItemName-" + id).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/WorkItem/AutoCompleteWorkItem",
                        type: "GET",
                        dataType: "json",
                        data: { term: request.term, projectId: document.getElementById("Edit-ProjectId-" + id).value },
                        success: function (data) {
                            document.getElementById("Edit-WorkItemId-" + id).value = 0;
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name, id: item.Id };
                            }))
                        }
                    });
                },
                select: function (event, ui) {
                    document.getElementById("Edit-WorkItemId-" + id).value = ui.item.id;
                }
            }).focus(function () {
                $(this).data("autocomplete").search($(this).val());
            });
        }




        function setTimeEntryActiveTab(option, id) {
            if (option == "TimeBlock") {
                //document.getElementById("timeentry-option-" + id)
            } else if (option == "Timer") {

            } else if (option == "Appointment") {

            }
        };

        //function renderTimeEntryEditView(actionUrl) {
        //    $.ajax({
        //        cache: false,
        //        type: "GET",
        //        url: actionUrl,
        //        dataType: 'html',
        //        success: function (data) {
        //            window.alert("test");
        //        }
        //    });
        //}


        function setTimeEntryOption(option) {
            if (option == "TimeBlock") {
                document.getElementById("Option").value = "TimeBlock";
            } else if (option == "Timer") {
                document.getElementById("Option").value = "Timer";
            } else if (option == "Appointment") {
                document.getElementById("Option").value = "Appointment";
            }
        };




        //function setTimeEntryOption(option, id) {
        //    if (option == "TimeBlock") {
        //        document.getElementById("timeentry-option-" + id).value = "TimeBlock";
        //    } else if (option == "Timer") {
        //        document.getElementById("timeentry-option-" + id).value = "Timer";
        //    } else if (option == "Appointment") {
        //        document.getElementById("timeentry-option-" + id).value = "Appointment";
        //    }
        //};
    </script>
}
