﻿@using SnapTrack.Entities.Models;
@model TimeEntryViewModel

@{
    ViewBag.Title = "Time Entry";
}

@using (Ajax.BeginForm("Create", "TimeEntry", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "create-wrapper",
    OnSuccess = "loadCreateTimeEntryForm"
}))
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="myTab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#TimeBlock" data-toggle="tab" onclick="setTimeEntryOption('TimeBlock');">Time Block</a></li>
                       @* <li><a href="#Appointment" data-toggle="tab" onclick="setTimeEntryOption('Appointment');">Appointment</a></li>*@
                    </ul>
                </div>
                
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Project</label>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.WorkItem.Project.Name, new { @class = "form-control", @placeholder = "Project", @id = "Create-ProjectName" })
                            @Html.ValidationMessageFor(model => model.WorkItem.Project.Name, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Task</label>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.WorkItem.Name, new { @class = "form-control", @placeholder = "Task", @id = "Create-WorkItemName" })
                            @Html.ValidationMessageFor(model => model.WorkItem.Name, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Time (Hours)</label>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.Time, new { @class = "form-control", @placeholder = "Time (Hours)", @id = "Create-WorkItemTime" })
                            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(model => model.Option)
                @Html.HiddenFor(model => model.DateRecorded, new { @id = "Create-DateRecorded" })

                @Html.HiddenFor(model => model.WorkItem.Project.Id, new { @id = "Create-ProjectId" })
                @Html.HiddenFor(model => model.WorkItem.Id, new { @id = "Create-WorkItemId" })
                
                <div class="form-group">
                    <div class="tab-content col-xs-offset-2" id="tabs">

                        <div id="TimeBlock" class="tab-pane active">
                            <input class="btn btn-primary" type="submit" value="Add" />
                        </div>
                        <div id="Timer" class="tab-pane">

                        </div>
                        <div id="Appointment" class="tab-pane">

                            <input type="submit" value="Add" />
                        </div>
                    </div>
                </div>
                    

            </div>
        </div>

                    }
