﻿@using SnapTrack.Entities.Models;
@model TimeEntryViewModel

@{
    ViewBag.Title = "Time Entry";
}

@using (Ajax.BeginForm("Edit", new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "timeentry-wrapper-" + Model.Id
}))
{
    @Html.AntiForgeryToken()
    <div class="timeentry-wrapper-@(Model.Id)">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    @*<li><a href="#TimeBlock-@(Model.Id)" data-toggle="tab" onclick="setTimeEntryOption('TimeBlock', @Model.Id);">Time Block</a></li>
                    <li><a href="#Timer-@(Model.Id)" data-toggle="tab" onclick="setTimeEntryOption('Timer', @Model.Id);">Timer</a></li>
                    <li><a href="#Appointment-@(Model.Id)" data-toggle="tab" onclick="setTimeEntryOption('Appointment', @Model.Id)">Appointment</a></li>*@
                </ul>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Project</label>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.WorkItem.Project.Name, new { @class = "form-control", @placeholder = "Project", @id = "Edit-ProjectName-" + Model.Id.ToString() })
                            @Html.ValidationMessageFor(model => model.WorkItem.Project.Name, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Task</label>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.WorkItem.Name, new { @class = "form-control", @placeholder = "Task", @id = "Edit-WorkItemName-" + Model.Id.ToString() })
                            @Html.ValidationMessageFor(model => model.WorkItem.Name, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Time (Hours)</label>
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.Time, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.WorkItem.Id, new { @id = "Edit-WorkItemId-" + Model.Id.ToString() })
                @Html.HiddenFor(model => model.WorkItem.Project.Id, new { @id = "Edit-ProjectId-" + Model.Id.ToString() })
                @Html.HiddenFor(model => model.DateRecorded)
                @Html.HiddenFor(model => model.Option, new { htmlAttributes = new { id = "timeentry-option-" + Model.Id } })

                <div class="form-inline col-xs-offset-2">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </div>
                </div>
                
                @*@{
                    if (Model.Option == TimeEntryOption.Appointment || Model.Option == TimeEntryOption.TimeBlock)
                    {
                        @: @Html.LabelFor(model => model.Time): @Html.EditorFor(model => model.Time)
                        @: @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                        <input type="submit" value="Save" />
                    }
                    else if (Model.Option == TimeEntryOption.Timer)
                    {
                        <input type="submit" value="Start Timer" />
                    }
                }*@
                @*<div class="tab-content" id="tabs">
                    <div id="TimeBlock-@(Model.Id)" class="tab-pane">
                        
                        <input type="submit" value="Save" />
                    </div>
                    <div id="Timer-@(Model.Id)" class="tab-pane">
                        @Html.LabelFor(model => model.Time): @Html.EditorFor(model => model.Time)
                        
                    </div>
                    <div id="Appointment-@(Model.Id)" class="tab-pane">
                        @Html.LabelFor(model => model.Time): @Html.EditorFor(model => model.Time)
                        <input type="submit" value="Save" />
                    </div>
                </div>*@
                
            </div>
        </div>
    </div>
}

