﻿@using SnapTrack.Entities.Models;
@model TimeEntryViewModel

@{ 
    ViewBag.Title = "Time Entry";
}

<div id="timeentry-wrapper-@(Model.Id)">
    <div class="panel panel-default">
        <div class="panel-heading">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2">Project</label>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(model => model.WorkItem.Project.Name, new { @class = "form-control", @placeholder = "Project", @readonly = true })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Task</label>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(model => model.WorkItem.Name, new { @class = "form-control", @placeholder = "Task", @readonly = true })
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">Time (Hours)</label>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(model => model.Time, new { @class = "form-control", @placeholder = "Time (Hours)", @readonly = true })
                    </div>
                </div>
            </div>

            
            @Html.HiddenFor(model => model.WorkItem.Id)
            @Html.HiddenFor(model => model.WorkItem.Project.Id)
            @Html.HiddenFor(model => model.DateRecorded)

            @if (Model.Option == TimeEntryOption.Appointment)
            {
                @Ajax.BeginForm("Approve", "TimeEntry", new { id = Model.Id }, new AjaxOptions()
               {
                   HttpMethod = "Post",
                   UpdateTargetId = "timeentry-wrapper-" + Model.Id
               });
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Approve" />
                }

            }
            else if (Model.Option == TimeEntryOption.Timer)
            {
                <input type="text" name="timer" class="form-control timer" placeholder="0 sec" />
                <input type="submit" value="Start Timer" />
            }
        <div class="form-inline col-xs-offset-2">
            <div class="form-group">
                @Ajax.ActionLink("Edit", "Edit", "TimeEntry", new { id = Model.Id }, new AjaxOptions()
           {
               HttpMethod = "GET",
               AllowCache = false,
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "timeentry-wrapper-" + Model.Id,
               OnSuccess = "initializeEditForm(" + Model.Id + ")"
           }, new { @class = "btn btn-primary" })
            </div>
            <div class="form-group">
                @using (Ajax.BeginForm("Delete", "TimeEntry", new { id = Model.Id }, new AjaxOptions()
                {
                    HttpMethod = "Post",
                    UpdateTargetId = "timeentry-wrapper-" + Model.Id
                }))
                {
                    @Html.AntiForgeryToken()
                    <input class="btn btn-primary" type="submit" value="Delete" />
                }
            </div>

        </div>
            



        </div>
    </div>
</div>